<div class="class">
    <nav>
        <a routerLink="/">HOME</a><br>
        <a routerLink="/list">LISTA</a><br>
        <a routerLink="/ChangeNumber">ChangeNumber</a><br>
        <a routerLink="/Directives">Directives</a><br>
        <a routerLink="/Emitter">Emitter</a><br>
        <a routerLink="/Events">Events</a><br>
        <a routerLink="/IfRender">IfRender</a><br>
        <a routerLink="/ParentData">ParentData</a><br>
        <a routerLink="/Pipes">Pipes</a><br>
        <a routerLink="/TwoWayBinding">TwoWayBinding</a>
    </nav>
</div>
<div class="class">
    <router-outlet></router-outlet>
</div>